body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Slab', serif; 
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 3rem;
}

h1{
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

#wrapper{
    display: flex;
    flex-direction: column;
    background: #e08de3;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    padding: 2rem;
    width: fit-content;
    height: 100vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    gap: 1rem;
}

#add{
    width: 9rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    background: #040887;
    color: white;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif; 
    padding: 1rem;
}

.remove{
    float: right;
    clear: both;
    width: 5rem;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    background: red;
    color: white;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif; 
}

ul{
    list-style: none;
    text-align: left;
    line-height: 35px;
    margin: 0;
    width: 100%;
    padding: 0;
}

li{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #138722;
    font-weight: 500;
    font-size: 1.2rem;
}

#task{
    font-size: 1rem;
    height: 1rem;
    background: rgba(245, 245, 50, 0.986);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-family: 'Roboto Slab', serif; 
}

input:focus{
    outline: yellow;
    border: 1px solid yellow;
}